{% extends 'core/base.html' %}


{% block title %}
  Startseite
{% endblock %}


{% block content %}
  <div  class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Alle Produkte</h2>

    <div class="grid grid-cols-3 gap-3">
      {% for product in products %}
        <div>
          <a href="#">
            <!-- <div>
              <img src="{{ product.image }}" class="rounded-t-xl">
            </div> -->

            <div class="p6 bg-white rounded-b-xl">
              <h2 class=""text-2xl>{{ product.prodName }}</h2>
              <label for="anzahl">Anzahl</label>
              <!-- TO DO: get input Anzahl and POST to Liste to generate Einkaufsliste -->
              <input type="number" name="anzahl" class="text-gray-500"></input>

            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div> 
{% endblock %}


